{% extends "base.html" %}

{% block content %}
    <div class="col-xs-12">
        <p><strong>Ingres&aacute; la URL de tu producto publicado en <a href="http://mercadolibre.com.ar">MercadoLibre</a></strong> para verificar tu scoring.</p>

        <form class="form-horizontal group-border stripped" role="form"
              action="{% url 'score' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input type="text" name="url" class="form-control" placeholder="URL de tu articulo">
                        <span class="input-group-btn">
                            <button class="btn btn-meli" type="submit">Chequear Score!</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
