<div class="recom_group">
<div class="row">
  <div class="col-md-4">
    <div class="recom" id="description">
        <div class="panel panel-default plain">
            <div class="panel-heading">
              <h4 class="panel-title">Descripción</h4>
            </div>
            <div class="panel-body">
                    <ul>
            <li>
                <h6>Haz un título bien descriptivo</h6>
                <p>
                El título es la clave para que los compradores encuentren tu producto. Por eso, debe ser lo más explícito posible.
                Incluye: nombre del producto + marca + modelo + especificaciones técnicas y características + servicios adicionales.
                Separa las palabras con espacios, no uses signos de puntuación ni símbolos.
                Revisa que no tenga errores de ortografía.
                <br>
                Por ejemplo: Notebook HP Dual Core 425 LED 14 320 GB 4 GB Wifi HDMI USB 3.0 Wifi
                </p>
            </li>

            <li>
                <h6>Menciona todos los detalles en la descripción</h6>
                <p>
                Sé bien específico. Además del tamaño, marca y modelo, incluye las características técnicas, los aspectos que diferencian a tu artículo de la competencia y la garantía. Si el producto es usado, también cuenta en qué estado está.
                Te recomendamos usar la opción “sólo texto”, porque esto ayudará a que tu publicación se vea rápido y bien en todos los dispositivos, incluidos los celulares y tablets.
                </p>
            </li>
        </ul>
            </div>
        </div>


    </div>
  </div>
  <div class="col-md-4">
    <div class="recom" id="photos">
      <div class="panel panel-default plain">
        <div class="panel-heading">
          <h4 class="panel-title">Fotos</h4>
        </div>
        <div class="panel-body">
        <ul>
            <li>
                <h6>Muestra con imágenes lo que no se puede describir</h6>
                <p>Sube buenas fotos, ¡todas las que puedas!</p>
                <p>Agrega un video del producto funcionando. Esto generará más confianza entre los compradores.</p>
            </li>

            <li>
                <h6>Saca fotos grandes</h6>
                <p>Que tengan 800 x 600 píxeles como mínimo, para que los compradores puedan hacer zoom.</p>
                <p>Revisa que esté en foco y bien iluminada</p>
                <p>Ni muy brillante, ni muy oscura: que los detalles del producto se vean bien. ¡Y que no esté borroso! Usa un fondo blanco o claro para resaltar el producto y no tener distracciones.</p>
            </li>

            <li>
                <h6>Aprovecha el espacio de la foto</h6>
                <p>Fíjate que el producto ocupe toda la imagen, es decir, que no quede cortado ni muy chiquito.</p>
            </li>

            <li>
                <h6>Muestra el producto real, desde distintos ángulos</h6>
                <p>En especial si vendes usados, esto es súper importante para que puedan ver todos los detalles del producto.</p>
                <p>Si vendes productos nuevos, las fotos de catálogo pueden ser muy útiles.</p>
            </li>
        </ul>
        </div>
      </div>


    </div>
  </div>

  <div class="col-md-4">
    <div class="recom" id="clothing">
      <div class="panel panel-default plain">
        <div class="panel-heading">
          <h4 class="panel-title">Publicaciones de indumentaria</h4>
        </div>
        <div class="panel-body">
        <ul>
            <li>
                <h6>Aprovecha los talles y colores en indumentaria</h6>
                <p>Cuando publiques tus productos en indumentaria, elige los colores, los talles y la cantidad de cada combinación y aprovecha los beneficios de tener publicaciones más completas:</p>
                <p>Tu stock se actualiza automáticamente cada vez que te compren.</p>
                <p>Ahorrarás tiempo, porque contestas menos preguntas sobre talles y colores.</p>
            </li>

            <li>
                <h6>Haz que tus publicaciones de indumentaria sean más exitosas y atractivas</h6>
                <p>Sube una foto por cada color que publiques, elige los colores más parecidos al producto real. Consejos para sacar buenas fotos.</p>
                <p>Usa la descripción para agregar más información de tu producto, por ejemplo qué materiales o telas tienes disponibles.</p>
                <p>Cuando publiques, podrás ver la tabla de equivalencia de talles, para cargar correctamente la medida de tus productos.</p>
                <p>Si también vendes por fuera de MercadoLibre, asegúrate de actualizar el stock desde Ventas &gt; Publicaciones.</p>
            </li>
        </ul>
        </div>
      </div>
   </div>
  </div>
</div>


