{% extends "base.html" %}

{% load static %}

{% block meta_title %}Scoring para <a href="{{ url }}">{{ title }}</a>{% endblock meta_title %}
{% block title %}Scoring para <a href="{{ url }}">{{ title }}</a>{% endblock title %}

{% block content %}
    <div class="col-lg-12 col-md-12">

        <div class="row">
            <div class="col-xs-3">
                <div id="meliscore_chart" class="pie-charts
                    {% if score.total_score.score > 95 %}success
                    {% elif score.total_score.score > 80 %}lime
                    {% elif score.total_score.score > 55 %}yellow
                    {% elif score.total_score.score > 30 %}warning
                    {% else %}danger{% endif %}-pie">

                    <div class="easy-pie-chart" data-percent="{{ score.total_score.score|default:"58" }}">
                    {{ score.total_score.score_string|default:"58" }}
                    </div>
                </div>
            </div><!-- .col-xs-3 -->

            <div class="partial_progress_group col-xs-9">
                {% for partial_title, partial_value in score.partial_scores.items %}
                <div class="partial_progress">
                    <h5>{{ partial_title|title }}</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped
                        progress-bar-{% if partial_value.score > 95 %}success
                        {% elif partial_value.score > 80 %}lime
                        {% elif partial_value.score > 55 %}yellow
                        {% elif partial_value.score > 30 %}warning
                        {% else %}danger{% endif %}
                        " role="progressbar" aria-valuenow="{{ partial_value.score }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ partial_value.score }}%;">
                        <h5 class="partial_percent">{{ partial_value.score }}%</h5>
                        </div>
                    </div>
                    {% comment %}
                    <br>
                    {{ partial_value.tip }}
                    <br>
                    {% endcomment %}
                </div><!-- .partial_progress -->
                {% endfor %}
            </div><!-- .partial_progress-group -->
        </div><!-- .row-->

        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-{% spaceless %}
                {% if score.total_score.score > 95 %}success
                    {% elif score.total_score.score > 80 %}lime
                    {% elif score.total_score.score > 55 %}yellow
                    {% elif score.total_score.score > 30 %}warning
                    {% else %}danger{% endif %}
                {% endspaceless %}">{{ score.total_score.title }}</h2>
                <h3>{{ score.total_score.subtitle }}</h3>
            </div>
        </div><!-- .row-->

        <div class="row section_recommendations">
            <div class="col-xs-12">
                {% include "recommendations.html" %}
            </div>
        </div><!-- .row-->

        <div class="row section_sweetprices">
            <div class="col-xs-12">
                {% include "sweetprice.html" %}
            </div>
        </div><!-- .row-->

    </div><!-- .col-xs-12 -->
{% endblock content %}

{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'plugins/charts/pie-chart/jquery.easy-pie-chart.js' %}"></script>

    <script>
        $(".easy-pie-chart").easyPieChart({
            barColor: "{% spaceless %}
            {% if score.total_score.score > 95 %}#00c574
                {% elif score.total_score.score > 80 %}#a8db43
                {% elif score.total_score.score > 55 %}#F39C12
                {% elif score.total_score.score > 30 %}#E87E04
                {% else %}#e44833
                {% endif %}
            {% endspaceless %}",
            borderColor: "#000",
            lineCap: 'butt',
            lineWidth: 20,
            scaleColor: false,
            trackColor: "#eee",
            size: 120,
            animate: 2500
        });
    </script>

    <script src="{% static 'plugins/charts/flot/jquery.flot.custom.js' %}"></script>
    <script src="{% static 'plugins/charts/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'plugins/charts/flot/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'plugins/charts/flot/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'plugins/charts/flot/jquery.flot.tooltip.min.js' %}"></script>

    <script>
    //------------- Bars chart -------------//
    $(function () {
        //var data = [ ["JAN", 1500], ["FEB", 1345], ["MAR", 1800], ["APR", 1670], ["MAY", 1780], ["JUN", 1500], ["JUL", 1350], ["AUG", 1700], ["SEP", 1890], ["OCT", 2000], ["NOV", 1950], ["DEC", 2000] ];
        var data = [["< 6000", 2.2 ], ["6000-7000", 3.3], ["7000-8000", 5], ["> 8000", 2]];
        //Replicate the existing bar data to reproduce bar fill effect
        // var arr= [];
        // for (var i = 0; i <= data.length -1; i++) {
        //     arr.push(data[i][1]);
        // };
        // var largest = Math.max.apply(Math, arr) + 50;
        // var d1 = [];
        // for (var i = 0; i <= data.length -1; i++) {
        //     sum = largest - data[i][1];
        //     d1.push([data[i][0],sum]);
        // };
        var chartColours = ['#3fc3a8', '#ed7a53', '#9FC569', '#bbdce3', '#9a3b1b', '#5a8022', '#2c7282'];

        var options = {
            series : {
                stack: true
            },
            bars: {
                show:true,
                barWidth: 0.5,
                fill:1,
                align: "center"
            },
            grid: {
                show:true,
                hoverable: true,
                borderWidth: 0,
                borderColor:null
            },
            colors: chartColours,
            tooltip: true, //activate tooltip
            tooltipOpts: {
                content: "%y.1",
                shifts: {
                    x: -30,
                    y: -50
                }
            },
            yaxis: {
                tickLength: 0,
                show:false
            },
            xaxis: {
                mode: "categories",
                tickLength: 0
            }
        };

        $.plot($("#meliscore_ordered-bars-chart"), [data,], options);
    });
</script>
{% endblock extra_scripts %}
