<script>
//------------- Bars chart -------------//
$(function () {

    var data = [ ["JAN", 1500], ["FEB", 1345], ["MAR", 1800], ["APR", 1670], ["MAY", 1780], ["JUN", 1500], ["JUL", 1350], ["AUG", 1700], ["SEP", 1890], ["OCT", 2000], ["NOV", 1950], ["DEC", 2000] ];

    //Replicate the existing bar data to reproduce bar fill effect
    var arr= [];
    for (var i = 0; i <= data.length -1; i++) {
        arr.push(data[i][1]);
    };
    var largest = Math.max.apply(Math, arr) + 50;
    d1 = [];
    for (var i = 0; i <= data.length -1; i++) {
        sum = largest - data[i][1];
        d1.push([data[i][0],sum]);
    };

    var options = {
        series : {
            stack: true
        },
        bars: {
            show:true,
            barWidth: 0.5,
            fill:1,
            align: "center"
        },
        grid: {
            show:true,
            hoverable: true,
            borderWidth: 0,
            borderColor:null
        },
        colors: chartColours,
        tooltip: true, //activate tooltip
        tooltipOpts: {
            content: "$%y.0",
            shifts: {
                x: -30,
                y: -50
            }
        },
        yaxis: {
            tickLength: 0,
            show:false
        },
        xaxis: {
            mode: "categories",
            tickLength: 0
        }
    };

    $.plot($("#bars-chart"), [data, d1], options);
});
</script>
