<h2>Velocidad de Ventas por precios <small>(Items/D&iacute;a)</small></h2>

<div class="loading_bars hidden">Cargando. Puede tardar un ratito...</div>

<div class="nothing_found alert alert-warning fade in hidden">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="im-warning alert-icon s24"></i>
    <strong>¯\_(ツ)_/¯</strong>No se encontraron ventas realizadas con el producto referido.
</div>

<div id="meliscore_ordered-bars-chart" style="height: 9em;">
</div>
