/*
    Styles for MELIScore
    --------------------
*/

body {
    font-size: 16px;
    font-family: "Raleway", "Helvetica Neue", "Arial", sans;
    margin: 0 auto;
    max-width: 95%;
    width: 900px;

    @media (max-width: 900px) {
        margin: 0 1em;
    }
}

header {
    height: 4em;
    padding: 1em 0;
}
header h1 {
    float: left;
    margin: 0;
}

.ml_logo_container {
    float: right;
}
.ml_logo_container img {
    max-height: 2em;
}

.main-content {
    padding: 1em 0;
}

.meliscore_chart {
    height: 140px;
    width: 140px;
}

.pie-charts {
    font-size: 2em;
}

.partial_progress_group {
    padding: 1em 0;
}
.partial_progress h5 {
    color: #fff;
    line-height: 2em;
    margin: 0;
    padding-left: 1em;
    position: absolute;
}
.partial_progress .partial_percent {
    padding-right: 1em;
    position: relative;
    right: 0;
    text-align: right;
}
.partial_progress .progress {
    height: 2em;
}
.partial_progress + .partial_progress {
    margin-top: 0.5em;
}
