/*
    Styles for MELIScore
    --------------------
*/

body {
    background: #FFF;
    font-size: 16px;
    font-family: "Raleway", "Helvetica Neue", "Arial", sans;
    margin: 0 auto;
    max-width: 95%;
    width: 900px;
}

@media (max-width: 900px) {
    body {
        margin: 0 1em;
    }
}

.header {
    padding: 2em 0;
}
.header h1 {
    bottom: 0;
    float: left;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    margin-left: 2.5em;
    position: absolute;
}
@media (max-width: 650px) {
    .header h1 {
        font-size: 1.5em;
        margin-left: 3.2em;
    }
}
.header .meliscore_logo {
    float: left;
    height: 4em;
}

.header .ml_logo_container {
    padding: 0.5em 0;
}
.header .ml_logo_container img {
    float: right;
    max-height: 2em;
    max-width: 100%;
}

.main-content {
    padding: 1em 0;
}
.main-content h2 {
    font-weight: 400;
    margin-bottom: 0;
}
.main-content h3 {
    font-weight: 400;
    margin-top: 0;
}

.meliscore_chart {
    width: 100%;
}

.pie-charts {
    font-size: 2em;
    padding: 0;
}

.partial_progress_group {
    /*padding: 1em 0;*/
}
.partial_progress h5 {
    color: #fff;
    line-height: 2em;
    margin: 0;
    padding-left: 1em;
    position: absolute;
}
.partial_progress .partial_percent {
    padding-right: 1em;
    position: relative;
    right: 0;
    text-align: right;
}
.partial_progress .progress {
    height: 2em;
}
.partial_progress + .partial_progress {
    margin-top: 0.5em;
}
